a:visited {
  color: inherit;
}

li {
  display: inline-flex;
  text-align: right;
  margin-right: 190px;
  font-family: "Faster One", cursive;
  font-size: 1.2rem;
  color: #170b0d;
}

header {
  display: grid;
  justify-content: right;
  top: 0%;
}

#first_section {
  width: 100%;
  height: 100vh;
  background-image: url(/Billeder/splash-billede_tekst.png);
  background-size: cover;
  background-position: 10%;
  position: absolute;
  margin: 0 auto;
}

.splash-billede_tekst {
  color: #170b0d;
  font-family: "Archivo Black", sans-serif;
  font-size: 3rem;
}

.splash-billede_tekst h1 {
  margin-left: 210px;
}
