a:visited {
  color: inherit;
}

body {
  background-color: #fff2ff;
}

li {
  display: inline-flex;
  font-family: "Faster One", cursive;
  color: #170b0d;
}

header {
  display: grid;
  justify-content: right;
  top: 0%;
}

#first_section {
  background-image: url(/Billeder/omg_mig_samlet_.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 10%;
  position: absolute;
  margin: 0 auto;
}

.om_mig_tekst {
  font-family: "Archivo Black", sans-serif;
  font-size: 1.2rem;
  color: #170b0d;
  position: relative;
  align-self: flex-end;
}

.overskrift_1,
.overskrift_2,
.overskrift_3,
.overskrift_4 {
  font-family: "Montserrat", sans-serif;
  color: #ff44ff;
  margin-right: 40px;
  margin-left: 40px;
}

.overskrift_1 {
  margin-top: 150px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  font-size: 1.4rem;
  grid-column: 2/3;
  grid-row: 2/3;
  justify-content: left;
}

.overskrift_2 {
  font-size: 1.7rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: right;
}

.overskrift_3 {
  font-size: 1.8rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column: 2/3;
  justify-content: left;
}

.overskrift_4 {
  font-size: 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: right;
}

.collage {
  position: absolute;
  left: 28%;
}
